@charset "UTF-8";

*{
    margin: 0px;
}


:root{ --font1: Verdana, Geneva, Tahoma, sans-serif;
       --font2: 'Passion One', cursive;
       --font3: 'Sriracha', cursive;
}
header{background-color: black; height: 280px;}
h1{font-family: var(--font1);font-size: 100px;text-align: center;color: white;padding-top: 70px;}
p#milton{color: white;text-align: center;padding-top: 20px;font-family: var(--font1);}
a#link{color: white;text-decoration: none;font-weight: bolder;}
a#link:hover{text-decoration: underline;}